<div class="top-head-wrap">
  <div class="container-fluid">
      <div class="main-holder">
          <div class="logo-holder">
              <!-- <img src="../../../assets/images/logo.png" alt="logo" /> -->
              <h1>User Auth</h1>
          </div>
          <div class="right-menu-holder">
           <!--    <div class="notify-wrap">
                  <a href="#" class="notification-icon">
                      <img src="../../../assets/images/notification-icon.png" alt="notification icon">
                      <span class="color-hg"></span>
                  </a>
              </div> -->
              <div class="my-profile-wrap">
                  <a href="javascript:void(0);">
                      <div class="wrap">
                      <!--     <div class="img-holder">
                              <img *ngIf="srcImage" [src]="srcImage" alt="profileImage">
                              <img *ngIf="!srcImage" src="../../../assets/images/noimage.jpg" alt="profileImage">
                              <span class="online-icon"></span>
                          </div> -->
                          <div class="user-name-wrap" *ngIf="currentUser">
                              {{currentUser.fname}} {{currentUser.lname}}
                              <span class="drop-icon">
                                  <img src="../../../assets/images/drop-down-icon.png" alt="drop-icon" />
                              </span>
                          </div>
                          <div class="sub-mnu-holder">
                              <ul>
                                  <li><a href="javascript:void(0);" (click)="signOut()">Logout</a></li>
                              </ul>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="date-time-holder">
                  <span>{{date | date:'dd-MM-yyyy'}}</span>
                  <p>{{date | date:'HH:mm a'}}</p>
              </div>
          </div>
      </div>
  </div>
</div>
